#ignore folder
data/
results/

#python cache
__pycache__/

#unit test and coverage
.hypothesis/
.pytest_cache/
.coverage

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pipeline Automatization

.snakemake/
